input{
    height: 3em;
}

.input-wrapper{
    width:20%;
    float:left;
    margin-left: 2em;
}

.six-parent{
    width: 100px;
    height: 30px;
    overflow: hidden;
    border: solid 1px #ccc;
    float:left;
}

.six-parent select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background:transparent;
    border:none;
    padding-left:10px;
    width: 120px;
    height:100%;
}

.six-label {
    float: left;
}