<div class="save-button">保存</div>
<div class="wrapper">
    <div class="must">*</div>
    <div class="label">
        姓名
    </div>
    <div class="parent">
        <input class="input" />
    </div>
</div>

<div class="wrapper">
    <div class="must"></div>
    <div class="label">
        性别
    </div>
    <div class="parent">
        <select class="input">
            <option>不详</option>
            <option>男</option>
            <option>女</option>
        </select>
    </div>
</div>
<div class="wrapper">
    <div class="must"></div>
    <div class="label">
        生日
    </div>
    <div class="parent">
        <input class="input"/>
    </div>
</div>

<div class="wrapper">
    <div class="must"></div>
    <div class="label">
        逝日
    </div>
    <div class="parent">
        <input class="input"/>
    </div>
</div>

<div class="wrapper">
    <div class="must"></div>
    <div class="label">
        父亲
    </div>
    <div class="parent">
        <person-search [hideListOnBlur]="true"></person-search>
    </div>
</div>
<div class="wrapper">
    <div class="must"></div>
    <div class="label">
        母亲
    </div>
    <div class="parent">
        <person-search [hideListOnBlur]="true"></person-search>
    </div>
</div>
<div class="wrapper">
    <div class="must"></div>
    <div class="label">
        配偶
    </div>
    <div class="parent">
        <person-search [hideListOnBlur]="true"></person-search>
    </div>
</div>