.wrapper{
    width:48%;
    float:left;
    margin: 0.2em 0.2em 0.7em 0;
    height: 2em;
}

.label{
    float:left;
    padding-top:0.55em;
    margin-right: 0.35em;
}

.parent{
    overflow: hidden;
    border: solid 1px #ccc;
}

.parent .input{
    -webkit-appearance:none;
    -moz-appearance:none;
    background:transparent;
    border:none;
    height: 2em;
    font-size: 1em;
    width:100%;
    outline:none;
}

select{
    margin-left: 0.5em;
}

.must{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    width:0.8em;
    float:left;
    color:#ef2222;
}

.save-button{
    background-color: #039be5;
    color: #efefef;
    width:3.5em;
    /*height:1em;*/
    border-radius: 0.4em;
    padding:0.5em 0.5em 0.5em 1.55em;
    margin-bottom: 0.5em;
    letter-spacing: 0.5em;
    cursor: pointer;
}

.save-button:hover{
    background-color: #3aaadd;
}

persons-list{
    width:10%;
    height:2em;
}